h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
body{
    background-color: black;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 100px;
}
button{
    font-size: 150px;
    background-color: gray;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
button:hover{
    background-color: darkgray;
}
input{
    font-size: 150px;
    padding: 20px;
    border: 2px solid gray;
}
input:focus{
    border-color: white;
    outline: none;
}
label{
    font-size: 150px;
}
nav{
    margin-bottom: 50px;
}
nav a{
    margin-right: 30px;
}
footer{
    margin-top: 50px;
    font-size: 100px;
    text-align: center;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
section{
    margin-bottom: 100px;
}
section h2{
    margin-bottom: 30px;
}
section p{
    margin-bottom: 20px;
}
section button{
    margin-top: 20px;
}
